name: Go Test for TPM

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install a swtpm
        run: |
          sudo apt-get update && sudo apt-get -y install swtpm swtpm-tools

      - name: run swtpm
        run: |
          mkdir /tmp/myvtpm && swtpm socket --tpmstate dir=/tmp/myvtpm --tpm2 --server type=tcp,port=2321 --ctrl type=tcp,port=2322 --flags not-need-init,startup-clear &

      - name: Check out code
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Run tests
        env:
          CICD_SA_EMAIL: ${{ secrets.CICD_SA_EMAIL }}    
          CICD_SA_PEM: ${{ secrets.CICD_SA_PEM }}
          CICD_SA_JSON: ${{ secrets.CICD_SA_JSON }}
          CICD_MTLS_CERT_PEM: ${{ secrets.CICD_MTLS_CERT_PEM }}    
          CICD_MTLS_KEY_PEM: ${{ secrets.CICD_MTLS_KEY_PEM }}  
          CICD_PROJECT_NUMBER: ${{ secrets.CICD_PROJECT_NUMBER }}    
          CICD_POOL_ID: ${{ secrets.CICD_POOL_ID }}    
          CICD_PROVIDER_ID: ${{ secrets.CICD_PROVIDER_ID }}
          USE_BAZEL_VERSION: 8.0.1

        run: go test -v ./...

      - name: Get Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Bazel Build
        run: bazelisk build cmd:main

      # - name: Bazel Test
      #   run: bazelisk test --test_env CICD_SA_PEM --test_env CICD_SA_EMAIL  --test_env CICD_SA_JSON  :go_default_test